{% if is_paginated %}
<!-- Paginator -->
<div class="row text-center">
  <nav aria-label="Page navigation">
    {% if page_obj.has_other_pages %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for pages in page_obj.paginator.page_range %}
      {% if page_obj.number == pages %}
      <li class="active"><span>{{pages}}
	  <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{pages}}">{{pages}}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li><a href="?page={{page_obj.next_page_number}}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>
<!-- end Paginator -->
{% endif %}
