@import url(https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,latin-ext);

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Open Sans";
}
h1 {
    margin-bottom: 10px;
}
